

@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
  $hover-border: if($color == $color-contrast-light, shade-color($background, $btn-hover-border-shade-amount), tint-color($background, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);
  // box-shadow: inset 0 1px 1px rgb(255 255 255 / 41%), 0px 2px 3px -2px rgb(0 0 0 / 30%);

  &:hover {
    color: $hover-color;
    // @include gradient-bg($hover-background);
    border-color: $hover-border;
    // box-shadow: inset 0 0 0 2px $hover-border, 0 2px 2px 0 rgb(0 0 0 / 8%);
  }

  .btn-check:focus + &,
  &:focus {
    color: $hover-color;
    // @include gradient-bg($hover-background);
    // box-shadow: 0 0 0 1px rgba($white, .48), 0 0 0 4px rgba($primary, .48);
    // background: none;
      box-shadow: none;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $active-color;
    // background-color: $active-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $active-border;

    &:focus {
      @if $enable-shadows {
        // @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5));
        // box-shadow: inset 0 0 0 2px $hover-border, 0 0 0 1px rgba($white, .48), 0 0 0 4px rgba($primary, .48);
        box-shadow: none;
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        // box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), .5);
        // box-shadow: inset 0 0 0 2px $hover-border, 0 0 0 1px rgba($white, .48), 0 0 0 4px rgba($primary, .48);
        box-shadow: none;
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $disabled-color;
    background-color: $disabled-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $disabled-border;
  }
}


@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: tint-color($color, 90%),
  $border: $color,
  $active-border: shade-color($border, $btn-hover-border-shade-amount),
  $active-color: color-contrast($active-background),
) {
  color: $color;
  border-color: $color;
  background-color: white;
  // box-shadow: inset 0 0 0 1px $border;
  box-shadow: inset 0 0 0 1px $border, 0px 2px 3px -2px rgb(0 0 0 / 30%);

  &:hover {
    color: $color;
    // background-color: $active-background;
    border-color: $active-border;
    // box-shadow: inset 0 0 0 2px $active-border, 0 2px 2px 0 rgba($black, .08);
  }

  .btn-check:focus + &,
  &:focus {
    // box-shadow: inset 0 0 0 2px $active-border, 0 0 0 1px rgba($white, .48), 0 0 0 4px rgba($primary, .48);
  box-shadow: inset 0 0 0 1px $border, 0px 2px 3px -2px rgb(0 0 0 / 30%);
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  &.dropdown-toggle.show {
    color: $active-color;
    // background-color: $active-background;
    // border-color: $active-border;

    &:focus {
      @if $enable-shadows {
        // @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5));
        // box-shadow: inset 0 0 0 2px $active-border, 0 0 0 1px rgba($white, .48), 0 0 0 4px rgba($primary, .48);
        // box-shadow: none;
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        // box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
        // box-shadow: inset 0 0 0 2px $active-border, 0 0 0 1px rgba($white, .48), 0 0 0 4px rgba($primary, .48);
        // box-shadow: none;
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $color;
    background-color: transparent;
  }
}